<!DOCTYPE html>
<html>
<head>
  <title>LoveYouPats | Online Greeting | Valentine Special</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel='stylesheet' href='/stylesheets/feedback.css'/>
  
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="/javascripts/jquery-3.3.1.min.js"></script>
  <script src="/javascripts/feedback.js"></script>
</head>
<body>
<div id="container">
    <div id="feedback">
        <div id="content">
            <div id="feedback-form">
                <p class="label">Tell us what you think:</p>
                <div class='rating-stars text-center'>
                    <ul id='stars'>
                    <li class='star' title='Poor' data-value='1'>
                        <i class='fa fa-star fa-fw'></i>
                    </li>
                    <li class='star' title='Fair' data-value='2'>
                        <i class='fa fa-star fa-fw'></i>
                    </li>
                    <li class='star' title='Good' data-value='3'>
                        <i class='fa fa-star fa-fw'></i>
                    </li>
                    <li class='star' title='Excellent' data-value='4'>
                        <i class='fa fa-star fa-fw'></i>
                    </li>
                    <li class='star' title='WOW!!!' data-value='5'>
                        <i class='fa fa-star fa-fw'></i>
                    </li>
                    </ul>
                </div>
                
                <p class="label">Leave us your comment:</p>
                <input id="comment" type="text"/>

                <button class="btn" id="btnSubmit">Submit</button>
            </div>
            
            <div id="thanks" style="display: none;">
                <div>Thank you for cheering us.</div>
                <button class="btn" id="btnRedirect">Back to Site</button>
            </div>
        </div>
    </div>

    <div id="footer">
        <p style="font-size: 1.2em;">&copy;LoveYouPats 2018</p>
    </div>
</div>

</body>
</html>
