<!DOCTYPE html>
<html>
<head>
  <title>LoveYouPats | Online Greeting | Valentine Special</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <style>
    .watermark {
      background-image: url('/images/bg23.jpeg');
      width: 100%;
      top: 0;
      left: 0;
      height:100%; 
      opacity: 0.3;
      position: fixed;
      background-repeat: repeat;
      background-size: 4% auto;
      padding: 0;
      margin: 0;
      z-index:0;
    }
  </style>

  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div id="watermark"></div>
<div class="greeting">

  <div class="label">
    <div class="content">
      <p style="font-size:3.5em; margin-bottom: 70px;"><span style="font-size: 1.3em;">LoveYouPats</span> is Live Now!</p>
      <img class="howto" src="/images/howto1.png"/> <span>--></span>
      <img class="howto" src="/images/howto2.png"/> <span>--></span>
      <img class="howto" src="/images/howto3.png"/>
    </div>
  </div>

  <div class="footer">
    <!--p style="font-size: 1.2em;">This Valentine</p>
    <p style="font-size: 1.5em; font-weight: bold;">14.2.18</p-->
    
    <p style="font-size: 1.2em;">&copy;LoveYouPats 2018</p>
  </div>
</div>

</body>
</html>
