@font-face {
    font-family: 'alfa_slab_oneregular';
    src: url('alfaslabone-regular-webfont.woff2') format('woff2'),
         url('alfaslabone-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'poiret_oneregular';
    src: url('poiretone-regular-webfont.woff2') format('woff2'),
         url('poiretone-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'dancing_scriptregular';
    src: url('dancingscript-regular-webfont.woff2') format('woff2'),
         url('dancingscript-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'indie_flowerregular';
    src: url('indieflower-webfont.woff2') format('woff2'),
         url('indieflower-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
  outline: none;
  font-family: 'indie_flowerregular', cursive;
}

/* =============================================================================
   HTML5 CSS Reset Minified - Eric Meyer
   ========================================================================== */

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;box-sizing:border-box;}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}
li{list-style:none}


/* =============================================================================
   My CSS
   ========================================================================== */

/* ---- base ---- */

html,body{ 
	width:100%;
	height:100%;
}

html{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

p{
  font-family: 'alfa_slab_oneregular', cursive;
  font-size: 2.5em;
  color: #bf815c;
}

span{
  font-family: 'alfa_slab_oneregular', cursive;
}

img{
  height: 15em;
}

.greeting{
  position: fixed;
  height: 100%;
  width: 100%;
  padding: 1em;
}

.photu{
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 10%;
  right: 0;
}

.label{
  position: relative;
  top: 10%;
  height: 70%;
  padding-left: 5%;
}

.label .content{
  position: relative;
  width: 70%;
  height: 100%;
  margin: auto;
}

.footer{
  position: absolute;
  bottom: 1em;
  width: 100%;
  text-align: center;
  right: 0;
}

#background-image {
  background-image: url('/images/bg19.jpg');
  width: 100%;
  top: 0;
  left: 0;
  height:100%; 
  opacity: 0.3;
  position: fixed;
  background-repeat: repeat;
  background-size: 20% auto;
  padding: 0;
  margin: 0;
  z-index:0;
  display: none;
}

/* Zoom in out animation */

/* animation:move 0.9s infinite ease-in-out; */

/*@keyframes move{
0%{
 transform: scale(1) rotate(0deg);
}
  100%{
   transform: scale(1.2) rotate(0.1deg);

  }

} */

@media only screen and (max-width: 768px) {
  .photu{
    height: 40%;
    bottom: 8%;
  }

  .label{
    margin-right: 0;
    padding-left: 0;
  }

  .label .content{
    width: 85%;
  }

  img{
    height: 100%;
  }

  p{
    font-size: 5vmin;
  }

  .footer{
    font-size: 3.5vmin;
  }

  #background-image{
    background-size: 50% auto;
  }
}


/* Poster */

.howto{
  height: 300px;
  margin-left: 50px;
}
